x-odoo-common: &odoo-common
  image: rental-odoo
  build: .
  restart: always
  volumes:
    - rental-odoo-web-data:/var/lib/odoo
    - ./addons:/mnt/extra-addons
    - ./conf:/etc/odoo
    - ./wait-for-postgres.sh:/usr/local/bin/wait-for-postgres.sh
  depends_on:
    - rental_odoo_db
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "5"

networks:
  rental-net:
    external: true

volumes:
  rental-odoo-web-data:
  rental-odoo-db-data:

services:
  rental_odoo_db:
    container_name: rental_odoo_db
    image: postgres:16
    restart: always
    volumes:
      - rental-odoo-db-data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    networks:
      - rental-net

  rental_odoo:
    <<: *odoo-common
    container_name: rental_odoo
    command: [ "/usr/local/bin/wait-for-postgres.sh" ]
    expose:
      - 8069
    ports:
      - "8069:8069"
    networks:
      - rental-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8069/web/login"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
